body {
  background-color: white;
}

.header_mine {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0px;
  top: -1px;
  width: 100%;
  height: 77px;
  z-index: 289;
  position: fixed;
}

.logo {
  font-family: "Roboto Regular";
  font-size: 18px;
  color: rgba(0, 0, 0, 0.902);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 139.517px;
  //top: 29.908px;
  //width: 131px;
  //height: 13px;
  //z-index: 297;
  bottom:0;
  padding-bottom: 32px;
}

.login {
  font-family: "Roboto Light";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.902);
  line-height: 1.286;
  text-align: left;
  position: absolute;
  left: 1031.937px;
  //top: 47.25px;
  width: 30px;
  height: 14px;
  z-index: 298;
  text-decoration: none;
  bottom:0;
  padding-bottom: 32px;
}

.menu_icon {
  background-color: rgb(255, 255, 255);
  //opacity: 0.6;
  position: absolute;
  left: 110px;
  //top: 32px;
  width: 18px;
  height: 13px;
  z-index: 301;
  bottom:0;
  padding-bottom: 37px;
}

.padlock_icon {
  //opacity: 0.6;
  position: absolute;
  left: 1074px;
  //top: 24px;
  width: 15px;
  height: 19px;
  z-index: 299;
  bottom:0;
  padding-bottom: 34px;
}

.container2{
  background-image: -moz-linear-gradient( 24deg, rgb(224,105,105) 0%, rgb(229,123,123) 98%);
  background-image: -webkit-linear-gradient( 24deg, rgb(224,105,105) 0%, rgb(229,123,123) 98%);
  background-image: -ms-linear-gradient( 24deg, rgb(224,105,105) 0%, rgb(229,123,123) 98%);
  position: absolute;
  left: 0px;
  top: 77px;
  width: 100%;
  height: 602px;
  z-index: 202;
}

.cn2_text1 {
  font-size: 38px;
  font-family: "Roboto Light";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  //left: 103.963px;
  //top: 193.131px;
  width: 390px;
  //height: 126px;
  //z-index: 217;
  
  padding-top: 121px;
  padding-left: 104px;
}

.cn2_text2 {
  font-size: 22px;
  font-family: "Roboto Light";
  color: rgb(254, 254, 254);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  //left: 106.982px;
  //top: 365.287px;
  width: 420px;
  //height: 47px;
  //z-index: 216;
    
  padding-left: 107px;
  padding-top: 292px;
}

.document {
  position: absolute;
  //left: 597px;
  //top: 231px;
  //width: auto;
  //height: auto;
  z-index: 279;
  margin-left: 597px;
  margin-top: 154px;
}

.window {
  border-radius: 6px;
  background-color: rgb(242, 242, 242);
  position: absolute;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
  //left: 673px;
  //top: 148px;
  //width: 494px;
  //height: 347px;
  z-index: 279;

  margin-left: 674px;
  margin-top: 71px;
}

.cn2_cpb3 {
  font-size: 18px;
  font-family: "Roboto Light";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  //left: 827.937px;
  //top: 544.872px;
  width: 281px;
  //height: 82px;
  z-index: 207;
    
  margin-left: 828px;
  margin-top: 470px;
}

.cn2_cpb2 {
  font-size: 18px;
  font-family: "Roboto Light";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  //left: 465.844px;
  //top: 544.872px;
  width: 277px;
  //height: 60px;
  z-index: 206;
    
  margin-left: 467px;
  margin-top: 470px;
}

.cn2_cpb1 {
  font-size: 18px;
  font-family: "Roboto Light";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  //left: 135.608px;
  //top: 544.768px;
  width: 212px;
  //height: 38px;
  z-index: 205;
    
  margin-left: 136px;
  margin-top: 470px;
}

.cn2_cpb1_5 {
  font-size: 10px;
  font-family: "Roboto Light";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 1.20404411764706,0,0,1.20459877991553,0,0);
  -webkit-transform: matrix( 1.20404411764706,0,0,1.20459877991553,0,0);
  -ms-transform: matrix( 1.20404411764706,0,0,1.20459877991553,0,0);
  position: absolute;
  //left: 153.779px;
  //top: 592.051px;
  width: 104.317px;
  //height: 7.349px;
  z-index: 204;
    
  margin-left: 147px;
  margin-top: 515px;
}

.doc {
  position: absolute;
  //left: 109px;
  //top: 547px;
  //width: 18px;
  //height: 22px;
  z-index: 211;
  margin-left: 109px;
  margin-top: 470px;
}

.pen {
  position: absolute;
  //left: 795px;
  //top: 547px;
  //width: 20px;
  //height: 20px;
  z-index: 210;
    
    margin-left: 795px;
  margin-top: 470px;
}

.medal {
  position: absolute;
  //left: 437px;
  //top: 546px;
  //width: 18px;
  //height: 26px;
  //z-index: 209;
    
    margin-left: 437px;
  margin-top: 470px;
}

.container3 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -1px;
  top: 681px;
  width: 100%;
  height: 314px;
  z-index: 172;
}

.cn3_text1 {
  font-size: 30px;
  font-family: "Roboto Light";
  color: rgba(0, 0, 0, 0.902);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  //left: 360.447px;
  //top: 743.828px;
  //width: 384px;
  //height: 30px;
  z-index: 174;
  margin-left: 408px;
  margin-top: 66px;
}

.cn3_text2 {
  font-size: 18px;
  font-family: "Roboto Light";
  color: rgb(61, 61, 61);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  //left: 374.191px;
  //top: 783.872px;
  //width: 261px;
  //height: 18px;
  z-index: 175;
  margin-left: 464px;
  margin-top: 105px;
}

.chrome {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
  position: absolute;
  //left: 339px;
  //top: 845px;
  //width: 66px;
  //height: 65px;
  z-index: 179;
    margin-left: 340px;
  margin-top: 164px;
}

.explorer {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
  position: absolute;
  //left: 450px;
  //top: 845px;
  //width: 66px;
  //height: 65px;
  z-index: 183;
     margin-left: 451px;
  margin-top: 164px;
    
}

.opera {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
  position: absolute;
  //left: 565px;
  //top: 846px;
  //width: 66px;
  //height: 65px;
  z-index: 187;
    margin-left: 567px;
  margin-top: 164px;
}

.yandex {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
  position: absolute;
 // left: 680px;
 // top: 845px;
 // width: 66px;
 // height: 65px;
  z-index: 191;
    
    margin-left: 682px;
  margin-top: 164px;
}

.safari {
    border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
  position: absolute;
 // left: 680px;
 // top: 845px;
 // width: 66px;
 // height: 65px;
  z-index: 191;
    
    margin-left: 799px;
  margin-top: 164px;
}

.container4 {
    background-color: #f3f4f6;
  position: absolute;
  left: -1px;
  top: 995px;
  width: 100%;
  height: 635px;
  z-index: 172;
}

.cn4_text1 {
  font-size: 30px;
  font-family: "Roboto Light";
  color: rgba(0, 0, 0, 0.902);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  //left: 811.844px;
  //top: 1199.823px;
  width: 290px;
  //height: 65px;
  
  z-index: 169;
    
  margin-left: 811.844px;
  margin-top: 209px;
}

.downland1 {
  //font-size: 12px;
  //font-family: "Roboto Medium";
    margin-left: 811.844px;
    margin-top: 308px;
    //padding: 17px 16px 17px 16px;
    //margin-bottom: 287px;
    width: 209px;
}

.downland2 {
  margin-left: 599px;
  margin-top: 218px;
  width: 209px;
}

.downland3 {
  margin-left: 599px;
  margin-top: 259px;
  width: 209px;
}
.container5 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 1630px; 1630 + 994
  width: 100%;
  height: 994px;
  z-index: 81;
}

.cn5_text1 {
  font-size: 30px;
  font-family: "Roboto Light";
  color: rgba(0, 0, 0, 0.902);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  //left: 596.844px;
  //top: 1712.823px;
  //width: 357px;
  //height: 29px;
  z-index: 141;
    
    margin-left: 599px;
  margin-top: 87px;
}

.cn5_text2 {
  font-size: 16px;
  font-family: "Roboto Light";
  color: rgba(43, 43, 43, 0.8);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  //left: 597.506px;
  //top: 1766.509px;
  width: 397px;
  //height: 35px;
  z-index: 142;
    
    margin-left: 598px;
  margin-top: 139px;
}

.bitr {
  margin-left: 282px;
  margin-top: 87px;
    float: left;
}

.cn5_instr1 {
  border-radius: 2px;
  background-color: #f8f9fa;
  //position: absolute;
  //left: 108px;
  //top: 1941px;
  width: 310px;
  height: 82px;
  z-index: 526;
    margin-left: 108px;
  margin-top: 53px;
}

.cn5_instr2 {
  border-radius: 2px;
  background-color: #f8f9fa;
  //position: absolute;
  //left: 108px;
  //top: 1941px;
  width: 310px;
  height: 82px;
  z-index: 526;
    margin-left: 443px;
  margin-top: -82px;
}

.cn5_instr3 {
  border-radius: 2px;
  background-color: #f8f9fa;
  //position: absolute;
  //left: 108px;
  //top: 1941px;
  width: 310px;
  height: 82px;
  z-index: 526;
    margin-left: 777px;
  margin-top: -82px;
}


.instr_admin {
  font-size: 18px;
  font-family: "Roboto Regular";
  color: rgb(242, 91, 92);
  line-height: 1.2;
  text-align: left;
    position: absolute;
    margin-left: 33px;
  margin-top: 22px;
}

.instr_admin_2 {
  font-size: 14px;
  font-family: "Roboto Light";
  color: rgb(43, 43, 43);
  line-height: 1.2;
  text-align: left;
    position: absolute;
  margin-left: 40px;
  margin-top: 47px;
}


.instr_admin {
  font-size: 18px;
  font-family: "Roboto Regular";
  color: rgb(242, 91, 92);
  line-height: 1.2;
  text-align: left;
    position: absolute;
    margin-left: 33px;
  margin-top: 22px;
}

.instr_admin_2 {
  font-size: 14px;
  font-family: "Roboto Light";
  color: rgb(43, 43, 43);
  line-height: 1.2;
  text-align: left;
    position: absolute;
  margin-left: 40px;
  margin-top: 47px;
}

span.instr_bitr {
    margin-left: 22px;
  margin-top: 19px;
}

span.instr_bitr2 {
    margin-left: 99px;
  margin-top: 48px;
}

span.instr_user {
    margin-left: 42px;
  margin-top: 19px;
}

span.php_admin {
    margin-left: 36px;
  margin-top: 20px;
}

span.php_admin2 {
    margin-left: 110px;
  margin-top: 47px;
}

span.instr_php {
    margin-left: 44px;
  margin-top: 19px;
}

span.instr_php2 {
    margin-left: 103px;
  margin-top: 48px;
}

span.php_user {
    margin-left: 44px;
  margin-top: 18px;
}

span.php_user2 {
    margin-left: 115px;
  margin-top: 48px;
}

.btn1 {
    width: 100%;
    height: 100%;
}

.btn1:hover {
    background-color: rgb(237,239,242);
}

.btn1:active {
    background-color: #e1e5ea;
}

p.cn6_text1 {
    margin-top: 125px;
    margin-left: 600px;
}

p.cn6_text2 {
    margin-top: 178px;
    margin-left: 599px;
}

.php {
   margin-top: 125px;
   margin-left: 283px; 
    float: left;
}

.container7 {
    background-color: #f4f5f7;
  position: absolute;
  left: 0px;
  top: 2624px; 
  width: 100%;
  z-index: 81;
    height: 706px;
}

.rates {
  font-size: 30px;
  font-family: "Roboto Light";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 542.964px;
  z-index: 78;
    margin-top: 74px;
}

.rates_start {
    margin-top: 137px;
    margin-left: 108px;
  border-radius: 3px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
}

.rates_tr1 {
    padding-left: 15px;
    border-radius: 3px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
}

.rates_tr2 {
    padding-left: 16px;
    border-radius: 3px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
}
.rates_tr3 {
    padding-left: 13px;
    border-radius: 3px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
}

.footer1 {
  background-color: rgb(68, 68, 68);
  position: absolute;
  left: 0px;
  top: 3330px;
  width: 100%;
  height: 244px;
  z-index: 5;
}

.firm {
  font-size: 18px;
  font-family: "Roboto Light";
  color: rgb(255, 255, 255);
  line-height: 3.111;
  position: absolute;
  margin-top: 49px;
  margin-left: 108px;
}

.contacts {
  font-size: 14px;
  font-family: "Roboto Light";
  color: rgb(255, 255, 255);
  line-height: 4;
  position: absolute;
  margin-top: 53px;
  margin-left: 927px;
  text-decoration: none;
}

.home {
  margin-left: 1050px;
}

#carousel {
    margin-left: -500px;
    margin-top: 300px;
}
#carousel img {
    visibility:hidden; /* hide images until carousel can handle them */
    cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}